<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="ApiAuthentication.csproj" />
            </files>
        </defaultDocument>
		<security>
			<requestFiltering>
				<fileExtensions>
					<remove fileExtension=".cshtml" />
					<add fileExtension=".cshtml" allowed="true" />
				</fileExtensions>
			</requestFiltering>
		</security>
    </system.webServer>
</configuration>
