# Ignore application configuration files
appsettings.json
appsettings.*.json

# Ignore database context files
ContextBase.cs
ContextBase.*.cs

# Ignore Ocelot configuration files
ocelot.json
ocelot.*.json
/GerencylApiAuthentication/ApiAuthentication/appsettings.json